# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ubuntus\Tarea_Extraclase_IV_Algoritmos_de_Preservacion_de_Informacion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
